dist
build

.DS_Store

node_modules/
.npm

.eslintcache

*.tsbuildinfo
next-env.d.ts

.vscode
.next
.vercel
.env*
.swc

src/pages/test-page.tsx
src/pages/api/test-api.ts

coverage

serviceAccountKey.json
credentials.csv
rootkey.csv

.react-email

/drizzle
/test.db*

.dev.vars

.aws-sam

# Sentry Config File
.sentryclirc

.turbo
