@tailwind base;
@tailwind components;
@tailwind utilities;

legend {
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;

  & + * {
    clear: both;
  }
}

*::selection {
  background: rgba(166 162 253 / 0.26);
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;

  &:hover {
    background: #555;
  }
}

details summary::-webkit-details-marker {
  display: none;
}
